<div style="height: 10px;">

    </div>
    <div class="bottomMenu">
        <ul>
            <li class="red">
                <div class="iconfont icon-screen-infinity"></div>

                <b><a href="/">首页</a></b>
            </li>
            <li>
                <div class="iconfont icon-spray-paint"></div>

                <b><a href="/article/add">寄存</a></b>
            </li>
            <li>
                <div class="iconfont icon-pencil-ruler"></div>

                <b><a href="/users/picker">替身</a></b>
            </li>
            <li>
                <div class="iconfont icon-notebook"></div>

                <b>个人中心</b>
            </li>
        </ul>
    </div>