<!DOCTYPE html>
<html lang="en">
<%include source.ejs%>
<body>
<%include head.ejs%>
 <div id="czc">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd">请选择您的替身</div>
            <div class="am-panel-bd">
                <ul class="am-avg-sm-4">
                    <li class="box" v-for="item in lists" v-on:click="getDataId(item)" v-bind:data-id="item.id" v-bind:data-name="item.zhName">
                        <img v-bind:src="item.headimg" width="100%" />
                        <span v-bind:text="item.name+'-'+item.zhName"></span>
                    </li>

                </ul>
            </div>
        </div>

        <div style="margin: 10px">
            <div class="am-form-group">
                <label for="doc-ds-ipt-1">替身：</label>{{msg}}
            </div>
        </div>
        <div class="am-cf" style="margin: 10px">
            <button type="button" v-on:click="change()" class="am-btn am-btn-success am-fl">换一批</button>
            <button type="button" v-on:click="confirmHero()" class="am-btn am-btn-primary am-fr">确定选择</button>
        </div>
    </div>
    <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">正在载入...</div>
            <div class="am-modal-bd">
                <span class="am-icon-spinner am-icon-spin"></span>
            </div>
        </div>
    </div>
<%include foot.ejs%>
<script>
        window.onload = function() {
            var vue = new Vue({
                el: "#czc",
                data: {
                    msg: "请选择",
                    lists: [],
                    heroId: 0
                },
                methods: {
                    change: function() {
                        var that = this;
                        $.get("/article/rand", function(data) {
                            that.lists = data.datas;
                        });
                    },
                    getDataId(obj) {
                        this.msg = obj.zhName;
                        this.heroId = obj.id;
                    },
                    confirmHero: function() {
                        var that = this;
                        $('#my-modal-loading').modal('open');
                        $.ajax({
                            type: "POST",
                            url: "/users/setHeroId",
                            data: {
                                heroId: that.heroId
                            },
                            success: function(msg) {
                                $('#my-modal-loading').modal('close');
                                if (msg.errcode == 0) {
                                    window.location = "/"
                                } else {
                                    window.location = "/"
                                }
                            }
                        });
                    }
                }
            })
            $.get("/article/rand", function(data) {
                vue.lists = data.datas;
            });
        }
    </script>
<body>
</html>


